
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 .group-3 .title {
    padding: 45px 0px;
    background: url(../images/mbg.png) center top no-repeat;
    background-size: cover;
    margin-left: -23px;
}
.group-4 .title {
    padding: 60px 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
}

.group-5 {
    width: 100%;
    padding: 180px 0px;
    background: url(../images/grp5d.png) center top no-repeat;
    background-size: cover;
}
.group-5 .title p {
    padding: 20px 0px;
    font-size: 30px;
    font-weight: 500;
    color: black;
    line-height: 1.2em;
}

.footer .copyrights{
  font-size: 30px;
}


}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 .group-3 .title {
    padding: 0px;
    background: url(../images/mbg.png) center top no-repeat;
    background-size: cover;
    margin-left: 0px;
}
.roup-4 .title {
    padding: 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
}
  
.group-3 .title p {
    font-size: 20px;
    line-height: 1.7em;
    color: black;
    font-weight: 400;
    padding: 40px 0px;
}

  .group-3 .title h1 {
    font-size: 40px;
    line-height: 1.2em;
    padding: 30px 0px;
}
.group-4 .title {
    padding: 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
}
.group-4 .title h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    padding: 40px 0px;
}
.group-4 .title p {
    font-size: 25px;
    line-height: 1.7em;
    color: black;
    font-weight: 400;
    padding: 28px 0px;
    text-align: center;
}
.group-5 {
    width: 100%;
    padding: 40px 0px;
    background: url(../images/grp5d.png) center top no-repeat;
    background-size: cover;
}
.icon-footer .fa {
    font-size: 20px;
    letter-spacing: 8px;
    margin-left: 20px;
    border-radius: 100%;
    margin-top: 10px;
}
.footer .copyrights{
  font-size: 30px;
}



}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
 .group-3 .title {
    padding: 0px;
    background: url(../images/mbg.png) center top no-repeat;
    background-size: cover;
    margin-left: 0px;
}
.group-4 .title {
    padding: 20px 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
}
.group-5 {
    width: 100%;
    padding: 80px 0px;
    background: url(../images/grp5d.png) center top no-repeat;
    background-size: cover;
}
.group-5 .title h1 {
    padding: 20px 0px;
    margin: 14px 0px;
    font-weight: bold;
    color: #05c;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 34px;
    text-shadow: 10px 12px 10px black;
}
.slider .item p{
  font-size: 10px;
}
.slider .item h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    font-weight: bold;
    line-height: 1.2em;
    color: #3d2514;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px 0px 20px;
    text-shadow: 10px 12px 14px black;
}


.slider .item h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2em;
    color: red;
    letter-spacing: 1px;
}

.footer .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
background: #eee;
  color: #eee;
}
.footer p {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.footer .copyrights{
  font-size: 30px;
}
.icon-footer .fa {
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    border-radius: 100%;
    margin-top: 10px;
}

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .d-flex {
    width: 100%;
    margin: 0px;
}

.inner-banner {
    width: 100%;
    padding: 0px 0px;
}

.inner-banner h1 {
    margin: 15px 0px;
    font-size: 30px;
    line-height: 1.2em;
    color: #deb37e;
}
.feature .title p {
    font-size: 12px;
    font-weight: 500;
    color: black;
    line-height: 1.2em;
}

.group-3 .title {
    padding: 0px;
    background: url(../images/mbg.png) center top no-repeat;
    background-size: cover;
    margin-left: 0px;
}
.group-3 .title h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2em;
    padding: 23px;
}

.group-4 .title {
    padding: 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
}
.group-4 .title h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    padding: 10px;
}

.group-5 {
    width: 100%;
    padding: 0px;
    background: url(../images/grp5d.png) center top no-repeat;
    background-size: cover;
}

.group-5 .title h1 {
    margin: 14px 0px;
    font-weight: bold;
    color: #05c;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: x-large;
    text-shadow: 10px 12px 10px black;
}
.group-5 .title p {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 1.2em;
}
.inner-group7 .rafi h4 {
    margin: 0px;
    font-weight: 400;
    color: #05c;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 13px;
    margin-top: 0px;
}

.slider {
    width: 100%;
    padding: 0px;
}
.inner-group7 {
    width: 100%;
    padding: 0px;
}
.slider .owl-carousel {
    width: 100%;
    padding: 0px;
    box-shadow: 0px 6px 10px #fff;
}

.slider .item h2{
  font-size: 30px;
}
.slider .item p{
  font-size: 10px;
}
.group-8 .title h1 {
    text-align: center;
    font-weight: bold;
    color: #05c;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 45px;
    text-shadow: 10px 12px 10px transparent;
    margin-top: 0px;
}
.group-8 .title h1 {
    text-align: center;
    font-weight: bold;
    color: #05c;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 45px;
    text-shadow: 10px 12px 10px transparent;
    margin-top: 0px;
}
.number-counter {
    width: 100%;
    padding: 0px;
}

.footer p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0px 0px; 
}
.icon-footer .fa {
    font-size: 30px;
    color: red;
    letter-spacing: 2px;
    margin-left: 20px;
    border-radius: 100%;
    margin-top: 10px;
}
.footer {
    width: 100%;
    padding: 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
}

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .d-flex {
    width: 80%;
    margin: 10px;
}

.inner-banner {
    width: 100%;
    padding: 0px 0px;
}
.inner-banner h1 {
    margin: 0px 0px;
    font-size: 30px;
    line-height: 1.2em;
    color: #deb37e;
}

.banner {
    width: 100%;
    padding: 20px 0px;
}

.feature .title h1 {
    margin: 0px 0px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 30px;
    text-shadow: 10px 12px 10px black;
}
.feature .title p {
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    line-height: 1.2em;
}
.feature {
    margin: 0px 0px 0px 30px;
    width: 100%;
    padding: 80px 0px;
    background: url(../images/Design.png) center top no-repeat;
    background-size: cover;
}

.feature .title {
    text-align: center;
    padding: 0px 0px 0px;
}

.inner-feature .btn-success {
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background: red;
    border: 2px solid white;
    border-radius: 5px;
    transition: 1s;
}

.group-3 {
    margin: 0px 0px 0px 50px;
    width: 100%;
    padding: 10px 0px;
}

.group-3 .title {
    padding: 20px 0px 50px;
    background: url(../images/mbg.png) center top no-repeat;
    background-size: cover;
    margin-left: 0px;
}
.group-3 .title h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2em;
    padding: 23px;
}

.group-4 .title {
    padding: 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
}
.group-4 .title h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    padding: 23px 0px;
}
.group-5 {
      margin: 0px 0px 0px 30px;
    width: 100%;
    padding: 20px 0px 30px;
    background: url(../images/grp5d.png) center top no-repeat;
    background-size: cover;
}
.group-5 .title h1 {
    margin: 34px 0px;
    font-weight: bold;
    color: #05c;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    line-height: 1.2em;
    font-size: 20px;
    text-shadow: 10px 12px 10px black;
}

.group-5 .title p {
    font-size: 14px;
    font-weight: 500;
    color: black;
    line-height: 1.2em;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    margin: 0px 0px 0px 30px;
}
.group-7 {
    margin: 0px 0px 0px 30px;
    width: 100%;
    padding: 20px 0px;
    background: url(../images/grp7d.png) center top no-repeat;
    background-size: cover;
}
.inner-group7 .rafi .fa {
    padding: 0px 0px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 10px 12px 10px red;
}
.inner-group7 .rafi h4 {
    margin: 14px 0px;
    font-weight: 400;
    color: #05c;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 13px;
    margin-top: 30px;
}
.inner-group7 {
    width: 100%;
    padding: 0px 0px;
}
.slider .owl-carousel {
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 6px 10px #fff;
}
.slider .item h2{
  font-size: x-large;
}
.slider .item p{
  font-size: 10px;
}

.slider .img-fluid {
    max-width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
}
.group-8 {
    margin: 0px 0px 0px 30px;
    width: 100%;
    padding: 0px 0px;
    background: url(../images/grp5d.png) center top no-repeat;
    background-size: cover;
}
.group-8 {
    margin: 0px 0px 0px 30px;
    width: 100%;
    padding: 0px 0px;
    background: url(../images/grp5d.png) center top no-repeat;
    background-size: cover;
}

.group-8 .title h1 {
    text-align: center;
    font-weight: bold;
    color: #05c;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 25px;
    text-shadow: 10px 12px 10px transparent;
    margin-top: 10px;
}
.group-8 p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 10px 0px;
}

.rafi {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: bold;
    color: black;
    background: #eee;
    box-shadow: 10px 11px 12px #ccc;
}

.number-counter {
    width: 100%;
    padding: 80px 0px;
    margin: 0px 0px 0px 30px;
}
.counter-box {
    width: 100%;
    padding: 20px 0px;
    border: 2px solid #08c;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 11px 12px black;
    transition: 1s;
}
.counter-box .fa {
    font-size: 40px;
    color: #08c;
}
.counter-box h1 {
    font-size: 50px;
    color: #08c;
    font-weight: bold;
}

.footer {
    width: 100%;
    padding: 40px 0px;
    background: url(../images/grp4bg.png) center top no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 30px;
}

  
}

@media (min-width: 279px) and (max-width: 319px){

.header .navbar-expand-lg .navbar-nav .nav-link {
    text-align: end;
    color: red;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
}

  .d-flex {
    width: 80%;
    margin: 10px;
}

.inner-banner h1 {
    margin: 0px;
    font-size: 20px;
    line-height: 1.2em;
    color: #deb37e;
}
.inner-banner {
    width: 100%;
    padding: 50px 0px;
}

.feature .title h1 {
    margin: 0px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 30px;
    text-shadow: 10px 12px 10px black;
}
.feature {
    width: 100%;
    padding: 40px 0px;
    background: url(../images/Design.png) center top no-repeat;
    }

    .feature .title p {
    padding: 10px 0px;
    font-size: x-small;
    font-weight: 500;
    color: black;
    line-height: 1.2em;
}


.inner-feature {
    width: 100%;
    padding: 0px;
}

.inner-feature .btn-success {
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background: red;
    border: 2px solid white;
    border-radius: 5px;
    transition: 1s;
}
.inner-feature .card {
    text-align: center;
    margin: 0px;
}

element.style {
    width: 0;
}









}